@import url("base.css");
@import url("tooltip.css");

body, html
{
	height: 100%;
	background-color: #2a2438;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body { overflow-x: hidden; }

#main
{
	padding: 128px;
	height: auto;
}
