@import url("base.css");
@import url("tooltip.css");

body, html
{
	height: 100%;
	background-color: #2a2438;
	background-image: url("../assets/bg_merch.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body { overflow-x: hidden; }

#main
{
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 96px;
	padding-right: 96px;
}

.container
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(to bottom, #C0C0C0, #DCDCDC, #696969);
	border-radius: 32px;
	padding: 8px;
	border: 4px solid var(--palette-lal-purple);
	box-shadow: 0px 0px 16px 8px var(--palette-lal-purple);
	opacity: 90%;
}

.container .title
{
	width: 100%;
	margin-top: 16px;
	margin-bottom: 16px;
}

.container .title hr
{
	width: 50%;
	border: 2px solid var(--palette-lal-purple);
	margin: auto;
}

.container .title h1
{
	text-align: center;
	font-family: "KenyanCoffeeBold";
	font-weight: normal;
	font-size: 48px;
	color: var(--palette-lal-black);
	margin-bottom: 16px;
}

.container .title h4
{
	text-align: center;
	font-family: "Timeless";
	font-weight: normal;
	font-size: 18px;
	color: var(--palette-lal-black);
	margin-top: 16px;
	margin-bottom: 16px;
}

.container .merch
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.container .merch .merch-item
{
	display: flex;
	flex-basis: 30%;
	flex-wrap: wrap;
	margin: 8px;
	box-shadow: -8px 8px 32px var(--palette-lal-purple);
	background-color: white;
	border-radius: 16px;
}

.container .merch .merch-pic
{
	cursor: pointer;
	width: 75%;
	box-shadow: -8px 8px 32px black;
	margin-top: 12px;
	margin-bottom: 12px;
	padding: 12px;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
	background: linear-gradient(to bottom, var(--palette-lal-purple), var(--palette-lal-yellow));
}

.container .merch .merch-pic img
{
	width: 100%;
}

.container .merch .merch-description
{
	text-align: center;
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
}

.container .merch .merch-description .merch-name
{
	font-family: "KenyanCoffee";
	font-weight: normal;
	font-size: 36px;
	margin-left: 8px;
	margin-right: 8px;
}

.container .merch hr
{
	width: 75%;
	margin: auto;
	margin-bottom: 16px;
	border: 1px solid var(--palette-lal-purple);
}

.container .merch .merch-description .merch-desc
{
	text-align: left;
	line-height: 1.4em;
	margin-bottom: 16px;
	font-weight: normal;
	font-size: 16px;
	margin-left: 12px;
	margin-right: 12px;
}

.merch-bottom
{
	cursor: pointer;
	padding: 32px;
	align-self: flex-end;
	margin-left: auto;
	margin-right: auto;
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container .merch-link
{
	text-decoration: none;
	color: var(--palette-lal-yellow);
	font-family: "SundayBest";
	font-size: 18px;
	border-radius: 16px;
	border: 2px solid var(--palette-lal-purple);
	padding: 4px;
	background-color: var(--palette-lal-purple);
	transition: 0.5s ease;
}

.container .merch-link:hover
{
	color: var(--palette-lal-purple);
	background-color: var(--palette-lal-yellow);
}

.modal
{
	display: none;
	position: fixed;
	z-index: 101;
	left: 0;
	top: 64px;
	border-radius: 16px;
	padding: 32px;
	margin-left: 16px;
	margin-top: 16px;
	background: linear-gradient(to bottom, var(--palette-lal-purple), var(--palette-lal-yellow));
	box-shadow: 0px 0px 32px 16px var(--palette-lal-purple);
}

.modal-img
{
	width: 360px;
}

@media screen and (max-width: 720px)
{
	.container .merch .merch-item
	{
		flex-basis: 100%;
	}
}
