@import url("base.css");

.navbar
{
	position: relative;
	overflow: hidden;
	margin-top: 8px;
	height: auto;
}

.navbar .navbar-main
{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 48px;
	align-items: center;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 12px;
	padding-right: 12px;
	border: 2px solid var(--palette-pag-purple);
	border-radius: 18px;
	background-color: var(--palette-pag-black);
	list-style: none;
	position: relative;
}

.navbar .navbar-main a,
.navbar .navbar-main li
{
	cursor: pointer;
	transition-duration: 0.4s;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 12px;
	color: var(--palette-pag-gold);
}

.navbar .navbar-main li i span
{
	font-family: "Timeless";
}

.navbar .navbar-main li:hover
{
	color: var(--palette-pag-gold);
	background-color: var(--palette-pag-purple);
}

.navbar .navbar-main .navbar-logo
{
	margin-left: auto;
	margin-right: auto;
	color: var(--palette-pag-gold);
	padding: 0;
}

.navbar .navbar-main .navbar-logo:hover
{
	color: inherit;
	background-color: inherit;
}

.navbar .navbar-main .navbar-logo img
{
	height: 46px;
}

.content
{
	padding: 16px;
}

.sticky
{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.sticky + .content
{
	padding-top: 60px;
}

@media screen and (max-width: 720px)
{
	.navbar .navbar-main
	{
		height: 48px;
	}

	.navbar .navbar-main:hover
	{
		height: 100%;
	}

	.navbar .navbar-main
	{
		flex-direction: column;
	}

	.navbar .navbar-main .navbar-logo
	{
		order: 1;
	}

	.navbar .navbar-main a,
	.navbar .navbar-main li
	{
		order: 2;
	}
}
