@import url("base.css");

body, html
{
	height: 100%;
	background-color: #2a2438;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body { overflow-x: hidden; }

#main
{
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 128px;
	padding-right: 128px;
}

.container
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(to bottom, #C0C0C0, #DCDCDC, #696969);
	border-radius: 32px;
	padding: 32px;
	opacity: 90%;
	border: 4px solid var(--palette-lal-purple);
	box-shadow: 0px 0px 16px 8px var(--palette-lal-purple);
}

.container .title
{
	width: 100%;
}

.container .title hr
{
	width: 50%;
	border: 2px solid var(--palette-lal-purple);
	margin: auto;
}

.container .title h1
{
	text-align: center;
	font-family: "KenyanCoffeeBold";
	font-weight: normal;
	font-size: 48px;
	color: var(--palette-lal-black);
	margin-bottom: 16px;
}

.container .title h4
{
	text-align: center;
	font-family: "PhotographSignature";
	font-weight: normal;
	font-size: 54px;
	color: var(--palette-lal-black);
	margin-top: 16px;
	margin-bottom: 16px;
}

.container .row
{
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 0px 16px 8px var(--palette-lal-purple);
	margin-top: 16px;
	border-radius: 16px;
	margin-bottom: 16px;
	flex-basis: 100%;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: cover;
}

.container .row .row-title
{
	text-align: center;
	font-family: "KenyanCoffeeBold";
	font-weight: normal;
	font-size: 36px;
	color: var(--palette-lal-white);
	text-shadow: 0px 0px 16px var(--palette-lal-black);
	padding: 16px;
	transition: 0.5s ease;
}

.container .row:hover .row-title
{
	color: var(--palette-lal-yellow);
	text-decoration: underline;
}

.container .row .row-desc
{
	display: none;
	font-family: "TimelessBold";
	font-weight: normal;
	font-size: 18px;
	color: var(--palette-lal-white);
	text-shadow: 0px 0px 16px var(--palette-lal-black);
	padding: 16px;
}
