@import url("base.css");

.tooltip
{
	position: relative;
	display: inline-block;
}

.tooltip .tooltip-text
{
	font-family: "Timeless";
	font-size: 18px;
	visibility: hidden;
	width: 128px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 8px 8px;
	border-radius: 8px;
	bottom: 100%;
	left: 50%;
	margin-left: -64px;
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltip-text
{
	visibility: visible;
}

.tooltip .tooltip-text::after
{
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	margin-left: -6px;
	border-width: 6px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

