/*
Color Palettes:;
Lakers - https://www.color-hex.com/color-palette/45348
Purple&Gold - https://www.color-hex.com/color-palette/83793
*/
:root
{
	--color-banner: #e3e4e6;
	--palette-lal-white: #ffffff;
	--palette-lal-yellow: #fdb827;
	--palette-lal-purple: #542583;
	--palette-lal-black: #000000;
	--palette-lal-gray: #aaaaaa;
	--palette-pag-purple: #7b007b;
	--palette-pag-pink: #ffe3e8;
	--palette-pag-gold: #ffd700;
	--palette-pag-light: #b36ab3;
	--palette-pag-black: #282727;

	--duration-flip: 0.5s;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: var(--palette-lal-gray); }
::-webkit-scrollbar-thumb { background: var(--palette-lal-purple); }
::-webkit-scrollbar-thumb:hover { background: var(--palette-lal-yellow); }

*
{
	margin: 0;
	padding: 0;
}

body, html
{
	height: 100%;
	background-color: #2a2438;
}

body { overflow-x: hidden; }

#banner_image
{
	height: 100%;
	background-image: url("assets/art12.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin: auto; 
}

#banner_text
{
	color: var(--palette-lal-yellow);
	text-shadow: 8px 8px 16px var(--palette-lal-purple);
	opacity: 60%;
}

#banner_text h1
{
	font-family: "ThankYouKobe";
	/*font-size: 96px;*/
	font-size: 8vw;
	font-weight: normal;
	text-align: left;
}

#banner_text h4
{
	font-family: "PhotographSignature";
	/*font-size: 48px;*/
	font-size: 4vw;
	font-weight: normal;
	text-align: center;
}

#banner_text hr
{
	/*border: 2px solid var(--color-banner);*/
	border: 0.1vw solid var(--color-banner);
	border-radius: 0.1vw;
	opacity: 50%;
}

#banner_image .caption
{
	font-family: "JackInput";
	font-weight: normal;
	color: var(--color-banner);
	opacity: 60%;
	font-size: 16px;
	padding: 8px;
	position: absolute;
	bottom: 2px;
	width: 100%;
	text-align: center
}

.navbar
{
	width: 100%;
	position: relative;
	background-color: var(--palette-pag-black);
	overflow: hidden;
}

.navbar a
{
	float: left;
	color: var(--palette-pag-light);
	text-align: center;
	text-decoration: none;
	font-family: "TimelessBold";
	font-size: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
}

.navbar a:hover
{
	background-color: var(--palette-pag-purple);
	color: var(--palette-pag-gold);
}

.navbar a.active
{
	background-color: var(--palette-pag-purple);
	color: var(--palette-pag-gold);
}

.navbar-right
{
	float: right;
}

.content
{
	padding: 16px;
}

.sticky
{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.sticky + .content
{
	padding-top: 60px;
}

@media screen and (max-width: 600px)
{
	.navbar a, .navbar-right
	{
		float: none;
		display: block;
	}
	.navbar-centered a
	{
		position: relative;
		top: 0;
		bottom: 0;
		transform: none;
	}
}

.margined-left
{
	margin-left: 48px;
}

.h-left
{
	position: absolute;
	left: 0%;
	transform: translateX(-50%);
}

.v-center
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.container-overlay
{
	position: relative;
	width: 100%;
	height: 100%;
}

.overlay
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: var(--palette-lal-black);
}

.container-overlay:hover .overlay
{
	opacity: 75%;
}

.flip:hover .overlay
{
	opacity: 75%;
}

.overlay-text
{
	color: var(--palette-lal-yellow);
	text-shadow: 4px 4px 2px var(--palette-lal-purple);
	font-family: "ThankYouKobe";
	/*font-size: 48px;*/
	font-size: 3vw;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	mix-blend-mode: screen;
	background-color: white;
	width: 90%;
}

.parallax
{
	background-image: url("assets/art8.png");
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#main
{
	background-image: url("assets/art8.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 128px;
}

#mosaic
{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
	margin-top: 32px;
	margin-bottom: 32px;
}

.center-grid
{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.mosaic-tile
{
	border: 2px solid rgba(253, 184, 39, 0.5);
}

.mosaic-tile img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mosaic-tile:nth-child(1)
{
	grid-column: span 1;
	grid-row: span 2;
}

.mosaic-tile:nth-child(2)
.mosaic-tile:nth-child(3)
{
	grid-column: span 1;
	grid-row: span 1;
}

.mosaic-tile:nth-child(4)
{
	grid-column: span 1;
	grid-row: span 2;
}

.mosaic-tile:nth-child(5)
{
	grid-column: span 2;
	grid-row: span 1;
}

@media screen and (max0width: 650px)
{
	.mosaic
	{
		display: block;
	}
	.mosaic-tile
	{
		margin-bottom: 1rem;
	}
}

.flip
{
	width: 100%;
	height: 100%;
	perspective: 1000px;
}

.flip-inner
{
	position: relative;
	transition: transform var(--duration-flip);
	transform-style: preserve-3d;
	width: 100%;
	height: 100%;
}

.flip:hover .flip-inner
{
	transform: rotateY(180deg);
}

.flip-front
{
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.flip-back
{
	width: 100%;
	height: 100%;
	transform: translateY(-100%) rotateY(180deg);
}

.flip-back img
{
	position: absolute;
	transform: scaleX(-1);
}

.actions
{
	border: 1px solid red;
	text-align: center;
	width: 50%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-left: 64px;
	padding-right: 64px;
}

.actions .icon-button
{
	background-color: var(--palette-lal-purple);
	border: none;
	color: var(--palette-lal-yellow);
	padding: 12px;
	margin-left: 16px;
	margin-right: 16px;
	font-size: 24px;
	cursor: pointer;
}

.actions .icon-button:hover
{
	background-color: var(--palette-lal-yellow);
	color: var(--palette-lal-white);
}